nav > ul{
    display: flex;
    
}
nav li{
    list-style: none;
    padding: 15px ;
    margin-right: 1px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    color: red;
}
nav li:hover{
   background-color:blue;
}

.dropdown{
    display: none;
}

nav > ul > li:hover > ul{
    display: block;
    position: absolute;
    background-color: lightgreen;
    padding:0px;
}

.dropdown li{
    margin:0px;
    padding: 0px;
}